-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: railway
-- ------------------------------------------------------
-- Server version	9.4.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `acontecimientos`
--

DROP TABLE IF EXISTS `acontecimientos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `acontecimientos` (
  `id_acontecimiento` int NOT NULL AUTO_INCREMENT,
  `titulo` varchar(150) NOT NULL,
  `descripcion` text,
  `tipo` enum('cumpleanos','aniversario','promocion','otro') DEFAULT NULL,
  `fecha` date NOT NULL,
  `id_cliente` int DEFAULT NULL,
  `activo` tinyint(1) DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT (now()),
  `id_barberia` int DEFAULT NULL,
  PRIMARY KEY (`id_acontecimiento`),
  KEY `id_cliente` (`id_cliente`),
  KEY `ix_acontecimientos_id_barberia` (`id_barberia`),
  CONSTRAINT `acontecimientos_ibfk_1` FOREIGN KEY (`id_cliente`) REFERENCES `clientes` (`id_cliente`) ON DELETE CASCADE,
  CONSTRAINT `acontecimientos_ibfk_2` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `acontecimientos`
--

LOCK TABLES `acontecimientos` WRITE;
/*!40000 ALTER TABLE `acontecimientos` DISABLE KEYS */;
/*!40000 ALTER TABLE `acontecimientos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alembic_version`
--

DROP TABLE IF EXISTS `alembic_version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alembic_version` (
  `version_num` varchar(32) NOT NULL,
  PRIMARY KEY (`version_num`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alembic_version`
--

LOCK TABLES `alembic_version` WRITE;
/*!40000 ALTER TABLE `alembic_version` DISABLE KEYS */;
INSERT INTO `alembic_version` VALUES ('j6e7f8g9h0i1');
/*!40000 ALTER TABLE `alembic_version` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `barberias`
--

DROP TABLE IF EXISTS `barberias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `barberias` (
  `id_barberia` int NOT NULL AUTO_INCREMENT,
  `subdominio` varchar(60) NOT NULL,
  `nombre` varchar(150) NOT NULL,
  `nit` varchar(40) DEFAULT NULL,
  `email_contacto` varchar(120) DEFAULT NULL,
  `telefono` varchar(30) DEFAULT NULL,
  `direccion` varchar(200) DEFAULT NULL,
  `latitud` varchar(30) DEFAULT NULL,
  `longitud` varchar(30) DEFAULT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `estado` enum('trial','activa','suspendida','cancelada') DEFAULT NULL,
  `trial_hasta` date DEFAULT NULL,
  `activo` tinyint(1) DEFAULT NULL,
  `fecha_registro` datetime DEFAULT (now()),
  `id_organizacion` int DEFAULT NULL,
  PRIMARY KEY (`id_barberia`),
  UNIQUE KEY `subdominio` (`subdominio`),
  KEY `id_organizacion` (`id_organizacion`),
  CONSTRAINT `barberias_ibfk_1` FOREIGN KEY (`id_organizacion`) REFERENCES `organizaciones` (`id_organizacion`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `barberias`
--

LOCK TABLES `barberias` WRITE;
/*!40000 ALTER TABLE `barberias` DISABLE KEYS */;
/*!40000 ALTER TABLE `barberias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `barberos`
--

DROP TABLE IF EXISTS `barberos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `barberos` (
  `id_barbero` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `apellido` varchar(50) NOT NULL,
  `fecha_nacimiento` date NOT NULL,
  `telefono` varchar(20) NOT NULL,
  `email` varchar(100) NOT NULL,
  `especialidad` varchar(100) DEFAULT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `fecha_ingreso` date NOT NULL,
  `activo` tinyint(1) DEFAULT NULL,
  `id_barberia` int DEFAULT NULL,
  PRIMARY KEY (`id_barbero`),
  UNIQUE KEY `uq_barbero_email_barberia` (`email`,`id_barberia`),
  KEY `ix_barberos_id_barberia` (`id_barberia`),
  CONSTRAINT `barberos_ibfk_1` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `barberos`
--

LOCK TABLES `barberos` WRITE;
/*!40000 ALTER TABLE `barberos` DISABLE KEYS */;
INSERT INTO `barberos` VALUES (1,'SEBASTIAN','PEREA MURILLO','2004-10-31','3132446748','SEBASM10@GMAIL.COM','BARBERO PROFESIONAL',NULL,'2026-09-10',1,1),(2,'YONATAN ','GIL','2001-01-04','3004585612','GILYONATAN2001@GMAIL.COM','CORTES FUNCIONALES, ATENCION A PUBLICO INFANTIL','barber-pro-app-production.up.railway.app/uploads/8c2c29cbf74646c78af5474e90a8762f.jpeg','2026-09-12',1,3),(3,'SANSLEY TECH','SOLUTIONS','2000-09-06','3116421654','SANSLEY.TECH-SOL@OUTLOOK.COM','BARBEROS',NULL,'2026-09-13',1,5);
/*!40000 ALTER TABLE `barberos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `caja_descuentos`
--

DROP TABLE IF EXISTS `caja_descuentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `caja_descuentos` (
  `id_descuento` int NOT NULL AUTO_INCREMENT,
  `id_barberia` int NOT NULL,
  `fecha` date NOT NULL,
  `monto` decimal(10,2) NOT NULL,
  `fecha_actualizacion` datetime DEFAULT (now()),
  PRIMARY KEY (`id_descuento`),
  KEY `id_barberia` (`id_barberia`),
  KEY `ix_caja_descuentos_id_descuento` (`id_descuento`),
  CONSTRAINT `caja_descuentos_ibfk_1` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `caja_descuentos`
--

LOCK TABLES `caja_descuentos` WRITE;
/*!40000 ALTER TABLE `caja_descuentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `caja_descuentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carousel_slides`
--

DROP TABLE IF EXISTS `carousel_slides`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `carousel_slides` (
  `id_slide` int NOT NULL AUTO_INCREMENT,
  `titulo` varchar(150) DEFAULT NULL,
  `subtitulo` varchar(250) DEFAULT NULL,
  `imagen` varchar(255) NOT NULL,
  `texto_boton` varchar(50) DEFAULT NULL,
  `enlace_boton` varchar(255) DEFAULT NULL,
  `orden` int DEFAULT NULL,
  `activo` tinyint(1) DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT (now()),
  `id_barberia` int DEFAULT NULL,
  PRIMARY KEY (`id_slide`),
  KEY `ix_carousel_slides_id_barberia` (`id_barberia`),
  CONSTRAINT `carousel_slides_ibfk_1` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carousel_slides`
--

LOCK TABLES `carousel_slides` WRITE;
/*!40000 ALTER TABLE `carousel_slides` DISABLE KEYS */;
/*!40000 ALTER TABLE `carousel_slides` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias_galeria`
--

DROP TABLE IF EXISTS `categorias_galeria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorias_galeria` (
  `id_categoria_galeria` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(80) NOT NULL,
  `orden` int DEFAULT NULL,
  `id_barberia` int DEFAULT NULL,
  PRIMARY KEY (`id_categoria_galeria`),
  KEY `ix_categorias_galeria_id_barberia` (`id_barberia`),
  CONSTRAINT `categorias_galeria_ibfk_1` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias_galeria`
--

LOCK TABLES `categorias_galeria` WRITE;
/*!40000 ALTER TABLE `categorias_galeria` DISABLE KEYS */;
/*!40000 ALTER TABLE `categorias_galeria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias_productos`
--

DROP TABLE IF EXISTS `categorias_productos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorias_productos` (
  `id_categoria` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(80) NOT NULL,
  `color` varchar(20) DEFAULT NULL,
  `icono` varchar(50) DEFAULT NULL,
  `orden` int DEFAULT NULL,
  `activo` tinyint(1) DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT (now()),
  `id_barberia` int DEFAULT NULL,
  PRIMARY KEY (`id_categoria`),
  UNIQUE KEY `uq_categoria_nombre_barberia` (`nombre`,`id_barberia`),
  KEY `ix_categorias_productos_id_barberia` (`id_barberia`),
  CONSTRAINT `categorias_productos_ibfk_1` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias_productos`
--

LOCK TABLES `categorias_productos` WRITE;
/*!40000 ALTER TABLE `categorias_productos` DISABLE KEYS */;
/*!40000 ALTER TABLE `categorias_productos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cierres_caja`
--

DROP TABLE IF EXISTS `cierres_caja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cierres_caja` (
  `id_cierre` int NOT NULL AUTO_INCREMENT,
  `id_barberia` int NOT NULL,
  `fecha` date NOT NULL,
  `id_usuario` int DEFAULT NULL,
  `ingresos_turnos` decimal(10,2) DEFAULT NULL,
  `ingresos_ventas` decimal(10,2) DEFAULT NULL,
  `total_propinas` decimal(10,2) DEFAULT NULL,
  `total_gastos` decimal(10,2) DEFAULT NULL,
  `total_descuentos` decimal(10,2) DEFAULT NULL,
  `balance_final` decimal(10,2) DEFAULT NULL,
  `observaciones` text,
  `fecha_cierre` datetime DEFAULT (now()),
  PRIMARY KEY (`id_cierre`),
  KEY `id_barberia` (`id_barberia`),
  KEY `id_usuario` (`id_usuario`),
  KEY `ix_cierres_caja_id_cierre` (`id_cierre`),
  CONSTRAINT `cierres_caja_ibfk_1` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`),
  CONSTRAINT `cierres_caja_ibfk_2` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cierres_caja`
--

LOCK TABLES `cierres_caja` WRITE;
/*!40000 ALTER TABLE `cierres_caja` DISABLE KEYS */;
/*!40000 ALTER TABLE `cierres_caja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes`
--

DROP TABLE IF EXISTS `clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientes` (
  `id_cliente` int NOT NULL AUTO_INCREMENT,
  `primer_nombre` varchar(50) NOT NULL,
  `segundo_nombre` varchar(50) DEFAULT NULL,
  `apellidos` varchar(100) NOT NULL,
  `tipo_documento` varchar(20) DEFAULT NULL,
  `documento` varchar(30) DEFAULT NULL,
  `direccion` varchar(200) DEFAULT NULL,
  `fecha_nacimiento` date NOT NULL,
  `genero` enum('masculino','femenino','otro','prefiero_no_decir') DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `telefono` varchar(20) NOT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `notas` text,
  `fecha_ultima_visita` date DEFAULT NULL,
  `fecha_registro` datetime DEFAULT (now()),
  `es_vip` tinyint(1) DEFAULT NULL,
  `activo` tinyint(1) DEFAULT NULL,
  `id_barberia` int DEFAULT NULL,
  `fecha_ultima_reactivacion` datetime DEFAULT NULL,
  PRIMARY KEY (`id_cliente`),
  UNIQUE KEY `uq_cliente_documento_barberia` (`documento`,`id_barberia`),
  UNIQUE KEY `uq_cliente_email_barberia` (`email`,`id_barberia`),
  KEY `ix_clientes_id_barberia` (`id_barberia`),
  CONSTRAINT `clientes_ibfk_1` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes`
--

LOCK TABLES `clientes` WRITE;
/*!40000 ALTER TABLE `clientes` DISABLE KEYS */;
INSERT INTO `clientes` VALUES (1,'SANTIAGO','SMITH','PEREA MURILLO','CC','1010113626','CALLE 47A #36AB - 30','2000-09-06','masculino','SANTIAGOPEREAMURILLO@GMAIL.COM','3116421654',NULL,NULL,NULL,'2026-09-10 16:30:53',0,1,1,NULL),(14,'SANTIAGO','SMITH','PEREA','CC','1010113626','CALLE 47A #36AB - 30','2000-09-06','masculino','SANTIAGOPEREAMURILLO@GMAIL.COM','3116421654','barber-pro-app-production.up.railway.app/uploads/343d3564804c47a0b603157a8914e8ac.jpeg',NULL,NULL,'2026-09-14 02:21:51',0,1,5,NULL);
/*!40000 ALTER TABLE `clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `codigos_qr`
--

DROP TABLE IF EXISTS `codigos_qr`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `codigos_qr` (
  `id_qr` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) NOT NULL,
  `tipo` enum('sistema','barbero','personalizado') DEFAULT NULL,
  `url_destino` varchar(500) NOT NULL,
  `id_barbero` int DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT (now()),
  `id_barberia` int DEFAULT NULL,
  PRIMARY KEY (`id_qr`),
  KEY `id_barbero` (`id_barbero`),
  KEY `ix_codigos_qr_id_barberia` (`id_barberia`),
  CONSTRAINT `codigos_qr_ibfk_1` FOREIGN KEY (`id_barbero`) REFERENCES `barberos` (`id_barbero`) ON DELETE CASCADE,
  CONSTRAINT `codigos_qr_ibfk_2` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `codigos_qr`
--

LOCK TABLES `codigos_qr` WRITE;
/*!40000 ALTER TABLE `codigos_qr` DISABLE KEYS */;
INSERT INTO `codigos_qr` VALUES (1,'Link de la plataforma','sistema','barberproapp.online',NULL,'2026-09-09 21:32:56',1),(2,'agenda','sistema','https://barberproapp.online/',NULL,'2026-09-12 05:29:08',1),(3,'agend','personalizado','https://barberproapp.online/portal/senseibarber',NULL,'2026-09-12 05:34:26',1),(4,'Barberia','sistema','https://barberproapp.online/portal/barberia',NULL,'2026-09-13 21:50:24',5);
/*!40000 ALTER TABLE `codigos_qr` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compras_productos`
--

DROP TABLE IF EXISTS `compras_productos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `compras_productos` (
  `id_compra` int NOT NULL AUTO_INCREMENT,
  `id_producto` int NOT NULL,
  `id_proveedor` int DEFAULT NULL,
  `cantidad` int NOT NULL,
  `costo_unitario` decimal(10,2) NOT NULL,
  `costo_total` decimal(10,2) NOT NULL,
  `fecha_compra` date NOT NULL,
  `factura` varchar(80) DEFAULT NULL,
  `observaciones` text,
  `fecha_creacion` datetime DEFAULT (now()),
  `id_barberia` int DEFAULT NULL,
  PRIMARY KEY (`id_compra`),
  KEY `id_producto` (`id_producto`),
  KEY `id_proveedor` (`id_proveedor`),
  KEY `ix_compras_productos_id_barberia` (`id_barberia`),
  CONSTRAINT `compras_productos_ibfk_1` FOREIGN KEY (`id_producto`) REFERENCES `productos` (`id_producto`) ON DELETE CASCADE,
  CONSTRAINT `compras_productos_ibfk_2` FOREIGN KEY (`id_proveedor`) REFERENCES `proveedores` (`id_proveedor`),
  CONSTRAINT `compras_productos_ibfk_3` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compras_productos`
--

LOCK TABLES `compras_productos` WRITE;
/*!40000 ALTER TABLE `compras_productos` DISABLE KEYS */;
/*!40000 ALTER TABLE `compras_productos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `configuracion`
--

DROP TABLE IF EXISTS `configuracion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `configuracion` (
  `clave` varchar(100) NOT NULL,
  `valor` text,
  `fecha_actualizacion` datetime DEFAULT (now()),
  `id_barberia` int NOT NULL,
  PRIMARY KEY (`id_barberia`,`clave`),
  KEY `ix_configuracion_id_barberia` (`id_barberia`),
  CONSTRAINT `configuracion_ibfk_1` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuracion`
--

LOCK TABLES `configuracion` WRITE;
/*!40000 ALTER TABLE `configuracion` DISABLE KEYS */;
/*!40000 ALTER TABLE `configuracion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fotos_cliente`
--

DROP TABLE IF EXISTS `fotos_cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fotos_cliente` (
  `id_foto` int NOT NULL AUTO_INCREMENT,
  `id_cliente` int DEFAULT NULL,
  `imagen` varchar(255) NOT NULL,
  `descripcion` varchar(250) DEFAULT NULL,
  `activo` tinyint(1) DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT (now()),
  `id_barberia` int DEFAULT NULL,
  PRIMARY KEY (`id_foto`),
  KEY `id_cliente` (`id_cliente`),
  KEY `ix_fotos_cliente_id_barberia` (`id_barberia`),
  CONSTRAINT `fotos_cliente_ibfk_1` FOREIGN KEY (`id_cliente`) REFERENCES `clientes` (`id_cliente`) ON DELETE SET NULL,
  CONSTRAINT `fotos_cliente_ibfk_2` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fotos_cliente`
--

LOCK TABLES `fotos_cliente` WRITE;
/*!40000 ALTER TABLE `fotos_cliente` DISABLE KEYS */;
/*!40000 ALTER TABLE `fotos_cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fuentes_pago`
--

DROP TABLE IF EXISTS `fuentes_pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fuentes_pago` (
  `id_fuente_pago` int NOT NULL AUTO_INCREMENT,
  `id_barberia` int NOT NULL,
  `id_fuente_wompi` varchar(100) NOT NULL,
  `ultimos_4_digitos` varchar(4) DEFAULT NULL,
  `franquicia` varchar(30) DEFAULT NULL,
  `activa` tinyint(1) DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT (now()),
  PRIMARY KEY (`id_fuente_pago`),
  KEY `id_barberia` (`id_barberia`),
  CONSTRAINT `fuentes_pago_ibfk_1` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fuentes_pago`
--

LOCK TABLES `fuentes_pago` WRITE;
/*!40000 ALTER TABLE `fuentes_pago` DISABLE KEYS */;
/*!40000 ALTER TABLE `fuentes_pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `galeria`
--

DROP TABLE IF EXISTS `galeria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `galeria` (
  `id_foto` int NOT NULL AUTO_INCREMENT,
  `url` varchar(255) NOT NULL,
  `titulo` varchar(100) DEFAULT NULL,
  `descripcion` text,
  `id_categoria_galeria` int DEFAULT NULL,
  `destacado` tinyint(1) DEFAULT NULL,
  `orden` int DEFAULT NULL,
  `activo` tinyint(1) DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT (now()),
  `id_barberia` int DEFAULT NULL,
  PRIMARY KEY (`id_foto`),
  KEY `ix_galeria_id_barberia` (`id_barberia`),
  CONSTRAINT `galeria_ibfk_1` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `galeria`
--

LOCK TABLES `galeria` WRITE;
/*!40000 ALTER TABLE `galeria` DISABLE KEYS */;
/*!40000 ALTER TABLE `galeria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gastos`
--

DROP TABLE IF EXISTS `gastos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gastos` (
  `id_gasto` int NOT NULL AUTO_INCREMENT,
  `id_barberia` int NOT NULL,
  `fecha` date NOT NULL,
  `categoria` varchar(50) NOT NULL,
  `monto` decimal(10,2) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `id_usuario` int NOT NULL,
  `fecha_creacion` datetime DEFAULT (now()),
  PRIMARY KEY (`id_gasto`),
  KEY `id_barberia` (`id_barberia`),
  KEY `id_usuario` (`id_usuario`),
  KEY `ix_gastos_id_gasto` (`id_gasto`),
  CONSTRAINT `gastos_ibfk_1` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`),
  CONSTRAINT `gastos_ibfk_2` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gastos`
--

LOCK TABLES `gastos` WRITE;
/*!40000 ALTER TABLE `gastos` DISABLE KEYS */;
/*!40000 ALTER TABLE `gastos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `horarios_barbero`
--

DROP TABLE IF EXISTS `horarios_barbero`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `horarios_barbero` (
  `id_horario` int NOT NULL AUTO_INCREMENT,
  `id_barbero` int NOT NULL,
  `dia_semana` int NOT NULL,
  `hora_inicio` time NOT NULL,
  `hora_fin` time NOT NULL,
  `pausa_inicio` time DEFAULT NULL,
  `pausa_fin` time DEFAULT NULL,
  `id_barberia` int DEFAULT NULL,
  PRIMARY KEY (`id_horario`),
  KEY `id_barbero` (`id_barbero`),
  KEY `ix_horarios_barbero_id_barberia` (`id_barberia`),
  CONSTRAINT `horarios_barbero_ibfk_1` FOREIGN KEY (`id_barbero`) REFERENCES `barberos` (`id_barbero`) ON DELETE CASCADE,
  CONSTRAINT `horarios_barbero_ibfk_2` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `horarios_barbero`
--

LOCK TABLES `horarios_barbero` WRITE;
/*!40000 ALTER TABLE `horarios_barbero` DISABLE KEYS */;
/*!40000 ALTER TABLE `horarios_barbero` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notificaciones`
--

DROP TABLE IF EXISTS `notificaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notificaciones` (
  `id_notificacion` int NOT NULL AUTO_INCREMENT,
  `titulo` varchar(150) NOT NULL,
  `mensaje` text NOT NULL,
  `tipo` enum('info','alerta','recordatorio') DEFAULT NULL,
  `id_usuario` int DEFAULT NULL,
  `leida` tinyint(1) DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT (now()),
  `id_barberia` int DEFAULT NULL,
  `enlace` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_notificacion`),
  KEY `id_usuario` (`id_usuario`),
  KEY `ix_notificaciones_id_barberia` (`id_barberia`),
  CONSTRAINT `notificaciones_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE,
  CONSTRAINT `notificaciones_ibfk_2` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notificaciones`
--

LOCK TABLES `notificaciones` WRITE;
/*!40000 ALTER TABLE `notificaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `notificaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `organizaciones`
--

DROP TABLE IF EXISTS `organizaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `organizaciones` (
  `id_organizacion` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `fecha_creacion` datetime DEFAULT (now()),
  PRIMARY KEY (`id_organizacion`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `organizaciones`
--

LOCK TABLES `organizaciones` WRITE;
/*!40000 ALTER TABLE `organizaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `organizaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagos`
--

DROP TABLE IF EXISTS `pagos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pagos` (
  `id_pago` int NOT NULL AUTO_INCREMENT,
  `id_barberia` int NOT NULL,
  `id_plan` int DEFAULT NULL,
  `id_suscripcion` int DEFAULT NULL,
  `referencia` varchar(100) NOT NULL,
  `id_transaccion_wompi` varchar(100) DEFAULT NULL,
  `monto` decimal(10,2) NOT NULL,
  `estado` enum('pendiente','aprobado','rechazado','error') DEFAULT NULL,
  `metodo_pago` varchar(50) DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT (now()),
  `fecha_actualizacion` datetime DEFAULT (now()),
  PRIMARY KEY (`id_pago`),
  UNIQUE KEY `referencia` (`referencia`),
  KEY `id_barberia` (`id_barberia`),
  KEY `id_plan` (`id_plan`),
  KEY `id_suscripcion` (`id_suscripcion`),
  CONSTRAINT `pagos_ibfk_1` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE,
  CONSTRAINT `pagos_ibfk_2` FOREIGN KEY (`id_plan`) REFERENCES `planes` (`id_plan`),
  CONSTRAINT `pagos_ibfk_3` FOREIGN KEY (`id_suscripcion`) REFERENCES `suscripciones` (`id_suscripcion`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagos`
--

LOCK TABLES `pagos` WRITE;
/*!40000 ALTER TABLE `pagos` DISABLE KEYS */;
/*!40000 ALTER TABLE `pagos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permisos_rol`
--

DROP TABLE IF EXISTS `permisos_rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permisos_rol` (
  `id_permiso` int NOT NULL AUTO_INCREMENT,
  `ruta` varchar(60) NOT NULL,
  `administrador` tinyint(1) DEFAULT NULL,
  `recepcionista` tinyint(1) DEFAULT NULL,
  `barbero` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id_permiso`),
  UNIQUE KEY `ruta` (`ruta`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permisos_rol`
--

LOCK TABLES `permisos_rol` WRITE;
/*!40000 ALTER TABLE `permisos_rol` DISABLE KEYS */;
INSERT INTO `permisos_rol` VALUES (1,'/dashboard',1,1,0),(2,'/mi-dia',0,0,1),(3,'/turnos',1,1,1),(4,'/calendario',1,1,1),(5,'/recordatorios',1,1,1),(6,'/clientes',1,1,0),(7,'/barberos',1,0,0),(8,'/servicios',1,1,0),(9,'/horarios',1,0,1),(10,'/usuarios',1,0,0),(11,'/valoraciones',1,1,1),(12,'/acontecimientos',1,1,0),(13,'/notificaciones',1,1,1),(14,'/productos',1,0,0),(15,'/categorias',1,0,0),(16,'/proveedores',1,0,0),(17,'/compras',1,0,0),(18,'/ventas',1,1,0),(19,'/caja',1,0,0),(20,'/configuracion',1,0,0),(21,'/qr',1,0,0),(22,'/solicitudes',1,1,0),(23,'/reportes',1,0,1),(24,'/galeria',1,0,0);
/*!40000 ALTER TABLE `permisos_rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `planes`
--

DROP TABLE IF EXISTS `planes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `planes` (
  `id_plan` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(60) NOT NULL,
  `descripcion` text,
  `precio_mensual` decimal(10,2) NOT NULL,
  `max_barberos` int DEFAULT NULL,
  `max_turnos_mes` int DEFAULT NULL,
  `permite_whatsapp` tinyint(1) DEFAULT NULL,
  `permite_pagos_online` tinyint(1) DEFAULT NULL,
  `permite_reportes` tinyint(1) DEFAULT NULL,
  `orden` int DEFAULT NULL,
  `activo` tinyint(1) DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT (now()),
  `permite_inventario` tinyint(1) DEFAULT NULL,
  `permite_qr` tinyint(1) DEFAULT NULL,
  `precio_anterior` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`id_plan`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `planes`
--

LOCK TABLES `planes` WRITE;
/*!40000 ALTER TABLE `planes` DISABLE KEYS */;
/*!40000 ALTER TABLE `planes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productos`
--

DROP TABLE IF EXISTS `productos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `productos` (
  `id_producto` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(120) NOT NULL,
  `descripcion` text,
  `marca` varchar(80) DEFAULT NULL,
  `id_categoria` int DEFAULT NULL,
  `costo_actual` decimal(10,2) DEFAULT NULL,
  `precio_venta` decimal(10,2) DEFAULT NULL,
  `stock_actual` int DEFAULT NULL,
  `stock_minimo` int DEFAULT NULL,
  `stock_maximo` int DEFAULT NULL,
  `codigo_barras` varchar(80) DEFAULT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `activo` tinyint(1) DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT (now()),
  `id_barberia` int DEFAULT NULL,
  PRIMARY KEY (`id_producto`),
  KEY `id_categoria` (`id_categoria`),
  KEY `ix_productos_id_barberia` (`id_barberia`),
  CONSTRAINT `productos_ibfk_1` FOREIGN KEY (`id_categoria`) REFERENCES `categorias_productos` (`id_categoria`),
  CONSTRAINT `productos_ibfk_2` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productos`
--

LOCK TABLES `productos` WRITE;
/*!40000 ALTER TABLE `productos` DISABLE KEYS */;
/*!40000 ALTER TABLE `productos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedores`
--

DROP TABLE IF EXISTS `proveedores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `proveedores` (
  `id_proveedor` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `direccion` varchar(200) DEFAULT NULL,
  `notas` text,
  `activo` tinyint(1) DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT (now()),
  `id_barberia` int DEFAULT NULL,
  PRIMARY KEY (`id_proveedor`),
  KEY `ix_proveedores_id_barberia` (`id_barberia`),
  CONSTRAINT `proveedores_ibfk_1` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedores`
--

LOCK TABLES `proveedores` WRITE;
/*!40000 ALTER TABLE `proveedores` DISABLE KEYS */;
/*!40000 ALTER TABLE `proveedores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servicios`
--

DROP TABLE IF EXISTS `servicios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `servicios` (
  `id_servicio` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(80) NOT NULL,
  `descripcion` text,
  `precio` decimal(10,2) NOT NULL,
  `duracion_minutos` int NOT NULL,
  `activo` tinyint(1) DEFAULT NULL,
  `id_barberia` int DEFAULT NULL,
  PRIMARY KEY (`id_servicio`),
  KEY `ix_servicios_id_barberia` (`id_barberia`),
  CONSTRAINT `servicios_ibfk_1` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servicios`
--

LOCK TABLES `servicios` WRITE;
/*!40000 ALTER TABLE `servicios` DISABLE KEYS */;
/*!40000 ALTER TABLE `servicios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `solicitudes_turno`
--

DROP TABLE IF EXISTS `solicitudes_turno`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `solicitudes_turno` (
  `id_solicitud` int NOT NULL AUTO_INCREMENT,
  `id_barbero` int DEFAULT NULL,
  `nombre_cliente` varchar(120) NOT NULL,
  `telefono` varchar(30) NOT NULL,
  `documento` varchar(30) DEFAULT NULL,
  `fecha_preferida` date DEFAULT NULL,
  `franja_preferida` enum('manana','tarde','noche','cualquiera') DEFAULT NULL,
  `comentario` text,
  `estado` enum('pendiente','atendida','descartada') DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT (now()),
  `id_barberia` int DEFAULT NULL,
  PRIMARY KEY (`id_solicitud`),
  KEY `id_barbero` (`id_barbero`),
  KEY `ix_solicitudes_turno_id_barberia` (`id_barberia`),
  CONSTRAINT `solicitudes_turno_ibfk_1` FOREIGN KEY (`id_barbero`) REFERENCES `barberos` (`id_barbero`) ON DELETE SET NULL,
  CONSTRAINT `solicitudes_turno_ibfk_2` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `solicitudes_turno`
--

LOCK TABLES `solicitudes_turno` WRITE;
/*!40000 ALTER TABLE `solicitudes_turno` DISABLE KEYS */;
/*!40000 ALTER TABLE `solicitudes_turno` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suscripciones`
--

DROP TABLE IF EXISTS `suscripciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `suscripciones` (
  `id_suscripcion` int NOT NULL AUTO_INCREMENT,
  `id_barberia` int NOT NULL,
  `id_plan` int NOT NULL,
  `estado` enum('trial','activa','vencida','cancelada') DEFAULT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT (now()),
  PRIMARY KEY (`id_suscripcion`),
  KEY `id_barberia` (`id_barberia`),
  KEY `id_plan` (`id_plan`),
  CONSTRAINT `suscripciones_ibfk_1` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE,
  CONSTRAINT `suscripciones_ibfk_2` FOREIGN KEY (`id_plan`) REFERENCES `planes` (`id_plan`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suscripciones`
--

LOCK TABLES `suscripciones` WRITE;
/*!40000 ALTER TABLE `suscripciones` DISABLE KEYS */;
INSERT INTO `suscripciones` VALUES (1,1,4,'trial','2026-09-09','2026-09-23','2026-09-09 19:44:10'),(3,3,4,'trial','2026-09-12','2026-09-26','2026-09-12 06:16:01'),(4,4,4,'trial','2026-09-13','2026-09-27','2026-09-13 21:25:56'),(5,5,4,'trial','2026-09-13','2026-09-27','2026-09-13 21:41:38'),(6,6,4,'trial','2026-09-15','2026-09-29','2026-09-15 03:49:24');
/*!40000 ALTER TABLE `suscripciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `turno_servicios`
--

DROP TABLE IF EXISTS `turno_servicios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `turno_servicios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_turno` int NOT NULL,
  `id_servicio` int NOT NULL,
  `precio_aplicado` decimal(10,2) NOT NULL,
  `duracion_aplicada` int NOT NULL,
  `id_barberia` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_turno` (`id_turno`),
  KEY `id_servicio` (`id_servicio`),
  KEY `ix_turno_servicios_id_barberia` (`id_barberia`),
  CONSTRAINT `turno_servicios_ibfk_1` FOREIGN KEY (`id_turno`) REFERENCES `turnos` (`id_turno`),
  CONSTRAINT `turno_servicios_ibfk_2` FOREIGN KEY (`id_servicio`) REFERENCES `servicios` (`id_servicio`),
  CONSTRAINT `turno_servicios_ibfk_3` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `turno_servicios`
--

LOCK TABLES `turno_servicios` WRITE;
/*!40000 ALTER TABLE `turno_servicios` DISABLE KEYS */;
INSERT INTO `turno_servicios` VALUES (1,1,1,25000.00,30,1);
/*!40000 ALTER TABLE `turno_servicios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `turnos`
--

DROP TABLE IF EXISTS `turnos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `turnos` (
  `id_turno` int NOT NULL AUTO_INCREMENT,
  `id_cliente` int NOT NULL,
  `id_barbero` int NOT NULL,
  `fecha` date NOT NULL,
  `hora_inicio` time NOT NULL,
  `hora_fin` time NOT NULL,
  `precio_total` decimal(10,2) NOT NULL,
  `estado` enum('pendiente','confirmado','en_proceso','completado','cancelado','no_asistio') DEFAULT NULL,
  `metodo_pago` varchar(30) DEFAULT NULL,
  `observaciones` text,
  `propina` decimal(10,2) DEFAULT NULL,
  `id_barbero_propina` int DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT (now()),
  `id_barberia` int DEFAULT NULL,
  `recordatorio_enviado` tinyint(1) DEFAULT '0',
  `encuesta_enviada` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id_turno`),
  KEY `id_cliente` (`id_cliente`),
  KEY `id_barbero` (`id_barbero`),
  KEY `id_barbero_propina` (`id_barbero_propina`),
  KEY `ix_turnos_id_barberia` (`id_barberia`),
  CONSTRAINT `turnos_ibfk_1` FOREIGN KEY (`id_cliente`) REFERENCES `clientes` (`id_cliente`),
  CONSTRAINT `turnos_ibfk_2` FOREIGN KEY (`id_barbero`) REFERENCES `barberos` (`id_barbero`),
  CONSTRAINT `turnos_ibfk_3` FOREIGN KEY (`id_barbero_propina`) REFERENCES `barberos` (`id_barbero`),
  CONSTRAINT `turnos_ibfk_4` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `turnos`
--

LOCK TABLES `turnos` WRITE;
/*!40000 ALTER TABLE `turnos` DISABLE KEYS */;
INSERT INTO `turnos` VALUES (1,1,1,'2026-09-12','09:30:00','10:00:00',25000.00,'pendiente',NULL,NULL,0.00,NULL,'2026-09-12 05:37:13',1,0,0);
/*!40000 ALTER TABLE `turnos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id_usuario` int NOT NULL AUTO_INCREMENT,
  `nombre_usuario` varchar(50) NOT NULL,
  `email` varchar(120) DEFAULT NULL,
  `password_hash` varchar(255) NOT NULL,
  `rol` enum('administrador','barbero','recepcionista','cliente') NOT NULL,
  `id_barbero` int DEFAULT NULL,
  `foto_perfil` varchar(255) DEFAULT NULL,
  `activo` tinyint(1) DEFAULT NULL,
  `super_admin` tinyint(1) DEFAULT NULL,
  `ultimo_acceso` datetime DEFAULT NULL,
  `cantidad_logins` int DEFAULT NULL,
  `pregunta_seguridad` varchar(255) DEFAULT NULL,
  `respuesta_hash` varchar(255) DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT (now()),
  `id_barberia` int DEFAULT NULL,
  `reset_token` varchar(255) DEFAULT NULL,
  `reset_token_expira` datetime DEFAULT NULL,
  `codigo_verificacion` varchar(10) DEFAULT NULL,
  `codigo_verificacion_expira` datetime DEFAULT NULL,
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `uq_usuario_barberia` (`nombre_usuario`,`id_barberia`),
  KEY `id_barbero` (`id_barbero`),
  KEY `ix_usuarios_id_barberia` (`id_barberia`),
  CONSTRAINT `usuarios_ibfk_1` FOREIGN KEY (`id_barbero`) REFERENCES `barberos` (`id_barbero`) ON DELETE SET NULL,
  CONSTRAINT `usuarios_ibfk_2` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios_organizacion`
--

DROP TABLE IF EXISTS `usuarios_organizacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios_organizacion` (
  `id_usuario_organizacion` int NOT NULL AUTO_INCREMENT,
  `id_organizacion` int NOT NULL,
  `nombre_usuario` varchar(50) NOT NULL,
  `email` varchar(120) DEFAULT NULL,
  `password_hash` varchar(255) NOT NULL,
  `activo` varchar(1) DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT (now()),
  PRIMARY KEY (`id_usuario_organizacion`),
  UNIQUE KEY `nombre_usuario` (`nombre_usuario`),
  KEY `id_organizacion` (`id_organizacion`),
  CONSTRAINT `usuarios_organizacion_ibfk_1` FOREIGN KEY (`id_organizacion`) REFERENCES `organizaciones` (`id_organizacion`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios_organizacion`
--

LOCK TABLES `usuarios_organizacion` WRITE;
/*!40000 ALTER TABLE `usuarios_organizacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios_organizacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `valoraciones_turnos`
--

DROP TABLE IF EXISTS `valoraciones_turnos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `valoraciones_turnos` (
  `id_valoracion` int NOT NULL AUTO_INCREMENT,
  `id_turno` int DEFAULT NULL,
  `id_barbero` int DEFAULT NULL,
  `id_cliente` int DEFAULT NULL,
  `estrellas` int NOT NULL,
  `comentario` text,
  `fecha_creacion` datetime DEFAULT (now()),
  `id_barberia` int DEFAULT NULL,
  PRIMARY KEY (`id_valoracion`),
  KEY `id_turno` (`id_turno`),
  KEY `id_barbero` (`id_barbero`),
  KEY `id_cliente` (`id_cliente`),
  KEY `ix_valoraciones_turnos_id_barberia` (`id_barberia`),
  CONSTRAINT `valoraciones_turnos_ibfk_1` FOREIGN KEY (`id_turno`) REFERENCES `turnos` (`id_turno`) ON DELETE CASCADE,
  CONSTRAINT `valoraciones_turnos_ibfk_2` FOREIGN KEY (`id_barbero`) REFERENCES `barberos` (`id_barbero`),
  CONSTRAINT `valoraciones_turnos_ibfk_3` FOREIGN KEY (`id_cliente`) REFERENCES `clientes` (`id_cliente`),
  CONSTRAINT `valoraciones_turnos_ibfk_4` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE,
  CONSTRAINT `check_estrellas_rango` CHECK (((`estrellas` >= 1) and (`estrellas` <= 5)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `valoraciones_turnos`
--

LOCK TABLES `valoraciones_turnos` WRITE;
/*!40000 ALTER TABLE `valoraciones_turnos` DISABLE KEYS */;
/*!40000 ALTER TABLE `valoraciones_turnos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas_carrito`
--

DROP TABLE IF EXISTS `ventas_carrito`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ventas_carrito` (
  `id_carrito_item` int NOT NULL AUTO_INCREMENT,
  `id_venta` int NOT NULL,
  `id_producto` int NOT NULL,
  `cantidad` int NOT NULL,
  `precio_unitario` decimal(10,2) NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id_carrito_item`),
  KEY `id_venta` (`id_venta`),
  KEY `id_producto` (`id_producto`),
  CONSTRAINT `ventas_carrito_ibfk_1` FOREIGN KEY (`id_venta`) REFERENCES `ventas_productos` (`id_venta`) ON DELETE CASCADE,
  CONSTRAINT `ventas_carrito_ibfk_2` FOREIGN KEY (`id_producto`) REFERENCES `productos` (`id_producto`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas_carrito`
--

LOCK TABLES `ventas_carrito` WRITE;
/*!40000 ALTER TABLE `ventas_carrito` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventas_carrito` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas_productos`
--

DROP TABLE IF EXISTS `ventas_productos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ventas_productos` (
  `id_venta` int NOT NULL AUTO_INCREMENT,
  `id_cliente` int DEFAULT NULL,
  `id_usuario_vendedor` int DEFAULT NULL,
  `subtotal` decimal(10,2) DEFAULT NULL,
  `iva` decimal(10,2) DEFAULT NULL,
  `total` decimal(10,2) NOT NULL,
  `metodo_pago` varchar(30) DEFAULT NULL,
  `numero_factura` varchar(50) DEFAULT NULL,
  `observaciones` text,
  `fecha_venta` datetime DEFAULT (now()),
  `id_barberia` int DEFAULT NULL,
  PRIMARY KEY (`id_venta`),
  KEY `id_cliente` (`id_cliente`),
  KEY `id_usuario_vendedor` (`id_usuario_vendedor`),
  KEY `ix_ventas_productos_id_barberia` (`id_barberia`),
  CONSTRAINT `ventas_productos_ibfk_1` FOREIGN KEY (`id_cliente`) REFERENCES `clientes` (`id_cliente`),
  CONSTRAINT `ventas_productos_ibfk_2` FOREIGN KEY (`id_usuario_vendedor`) REFERENCES `usuarios` (`id_usuario`),
  CONSTRAINT `ventas_productos_ibfk_3` FOREIGN KEY (`id_barberia`) REFERENCES `barberias` (`id_barberia`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas_productos`
--

LOCK TABLES `ventas_productos` WRITE;
/*!40000 ALTER TABLE `ventas_productos` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventas_productos` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-15 15:55:13
